<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sharetour</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.sharetour.listener.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sharetour.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sharetour.control.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostServlet</display-name>
    <servlet-name>NewPostServlet</servlet-name>
    <servlet-class>com.sharetour.control.NewPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostServlet</servlet-name>
    <url-pattern>/newpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgUploadServlet</display-name>
    <servlet-name>ImgUploadServlet</servlet-name>
    <servlet-class>com.sharetour.control.ImgUploadServlet</servlet-class>
    <init-param>
      <param-name>temppath</param-name>
      <param-value>temp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgUploadServlet</servlet-name>
    <url-pattern>/imgupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgDownServlet</display-name>
    <servlet-name>ImgDownServlet</servlet-name>
    <servlet-class>com.sharetour.control.ImgDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgDownServlet</servlet-name>
    <url-pattern>/imgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSpace</servlet-name>
    <jsp-file>/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSpace</servlet-name>
    <url-pattern>/u/space</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <jsp-file>/edit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MongoManager</display-name>
    <servlet-name>MongoManager</servlet-name>
    <servlet-class>com.sharetour.control.MongoManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MongoManager</servlet-name>
    <url-pattern>/mm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>journal</servlet-name>
    <jsp-file>/journal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>journal</servlet-name>
    <url-pattern>/journal/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postoftag</servlet-name>
    <jsp-file>/posts.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>postoftag</servlet-name>
    <url-pattern>/tag/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.sharetour.control.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sharetour.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>about</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerpage</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerpage</servlet-name>
    <url-pattern>/registerpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>com.sharetour.control.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>

</web-app>